functionConfig.json
# the config that stores all DSI function options
config.json
# the main config, stores all Discord visual options
shaaConfig.json
# the Spotify History Analyser Addon options
secretConfig.json
# the "secret" options (client id, secret and redirect url)
blacklist.json
# the list of songs to hide from spotify activity
URIlist.json
# the list of URIs that have been stored thus far
statistics.json
# DSI stats (songs and time played, avg duration) stored across sessions